%html
  %head
    %title== #{h project.name} Issue Tracker
    %link{:href => "/style.css", :rel => "stylesheet", :type => "text/css",
        :media => "screen"}
  %body
    .main
      %h1== #{h project.name} Issue Tracker
      .backptr
        %a{:href => '/'} &laquo; top page
      %a{:href => "/i/new"} Add a new issue
      %form{:action => '/i', :method => :get}
        %select{:name => :r}
          %option{:value => '*', :selected => true} All
          %option{:value => '', :selected => false} No release
          - project.releases.each do |r|
            %option{:value => r.name, :selected => false}= r.name
        %select{:name => :c}
          %option{:value => '*', :selected => true} All
          - project.components.each do |c|
            %option{:value => c.name, :selected => false}= c.name
        %input{:type => :text, :name => :q}
        %input#ignorecase{:type => :checkbox, :name => :i, :checked => true}
        %label{:for => :ignorecase} Ignore case
        %input{:type => :submit, :value => 'Search'}
      %table
        %tbody
          - issues.each do |issue|
            %tr
              %td
                - icon = {:fixed => '/green-check.png', :wontfix => '/red-check.png'}
                - if issue.status == :closed
                  %img{:src => icon[issue.disposition]}
              %td.littledate= issue.creation_time.pretty_date
              %td.issuename
                %img{:src => gravatar(issue.reporter)}
                %a{:href => "/i/#{issue.id}"}== #{h issue.title}
    .footer Powered by <a href="http://ditz.rubyforge.org/">ditz</a>.
